




<div class="p-8 mt-4">




    <div class="shadow p-8">

        @if(isedit){
            <h4> update Employee Form</h4>
        }
        @else
        {

            <h4> Create Employee Form</h4>
        }
       
        <form [formGroup]="employeefrom" (ngSubmit)="formsubmit()">

@if(isedit){

    <div class="w-full flex flex-wrap">
        <mat-form-field class="w-full">
            <mat-label>id</mat-label>
            <input type="id" matInput 
                   placeholder="id" formControlName="id" >
            
          
          </mat-form-field>
    </div>
}@else{


}



            <div class="w-full flex flex-wrap">
                <mat-form-field class="w-full">
                    <mat-label>Name</mat-label>
                    <input type="Name" matInput 
                           placeholder="Name" formControlName="name" >
                    
                  
                  </mat-form-field>
            </div>
            <div class="w-full flex flex-wrap">
                <mat-form-field class="w-full">
                    <mat-label>Code</mat-label>
                    <input type="Code" matInput 
                           placeholder="Code" formControlName="code">
                   
                  
                  </mat-form-field>
            </div>
            <div class="w-full flex flex-wrap">
                <mat-form-field class="w-full">
                    <mat-label>Age</mat-label>
                    <input type="Age" matInput 
                           placeholder="Age" formControlName="age">
                    
                  
                  </mat-form-field>
            </div>
            <div class="w-full flex flex-wrap">
                <mat-form-field class="w-full">
                    <mat-label>Department</mat-label>
                    <input type="Department" matInput 
                           placeholder="Department" formControlName="department">
                    
                  
                  </mat-form-field>
            </div>
            <div class="w-full flex flex-wrap">
                <mat-form-field class="w-full">
                    <mat-label>Email</mat-label>
                    <input type="Email" matInput 
                           placeholder="Email" formControlName="email">
                   
                  
                  </mat-form-field>
            </div>
            <div class="w-full flex flex-wrap">
                <mat-form-field class="w-full">
                    <mat-label>Salary</mat-label>
                    <input type="Salary" matInput 
                           placeholder="Salary" formControlName="salary">
                   
                  
                  </mat-form-field>
            </div>
            <div class="flex justify-center">
            @if(isedit){
               
                    <button mat-raised-button color="primary" >update</button>
             
            }@else{
               
                    <button mat-raised-button color="primary" >Add</button>
                
            }
        </div>
        </form>
    </div>
   
</div>